
  <form [formGroup]="userForm">
    <div formArrayName="AllQualifications">
      <div *ngFor="let address of userForm.controls.AllQualifications.controls; let i=index" class="panel panel-default">
      <button class="pull-right"  md-icon-button  *ngIf="userForm.controls.AllQualifications.controls.length >= 1" (click)="removeQualifications(i)"> <i class="material-icons">close</i></button>
 <br>
      <div class="panel-body" [formGroupName]="i">
    <span>I am </span>
     <md-select formControlName="name" placeholder="Qualification Name" class="full-width">
      <md-option *ngFor="let qualification of qualifications" color="accent" [value]="qualification">
                  {{ qualification }}
      </md-option>
          <md-hint align="start" class="full-width">
            <div *ngIf="!userForm.controls.AllQualifications.controls[i].controls.name.valid && userForm.controls.AllQualifications.controls[i].controls.name.touched" class="errorStyle">
             Qualification Name is Required
            </div>
          </md-hint>
    </md-select>


    <span>I have done my </span>
  
     <md-select formControlName="academictype" class="validate" placeholder="Academictype" class="full-width">
      <md-option *ngFor="let academictype of academictypes" color="accent" [value]="academictype">
                  {{ academictype }}
      </md-option>
          <md-hint align="start" class="full-width">
            <div *ngIf="!userForm.controls.AllQualifications.controls[i].controls.academictype.valid && userForm.controls.AllQualifications.controls[i].controls.academictype.touched" class="errorStyle">
            Academictype is Required
            </div>
          </md-hint>
        </md-select>


    <span> in </span>
    
    <md-select formControlName="subject" placeholder="Subject" class="full-width">
      <md-option *ngFor="let subject of subjects" color="accent" [value]="subject">
                  {{ subject }}
      </md-option>
 
        </md-select>

    

    <span>in the year</span>
    Batch
    <md2-datepicker formControlName="batch" id="batch" [min]="minDate" [max]="maxDate" placeholder="Batch" class="full-width">Batch</md2-datepicker>


    <span> with final score of </span>

    <md-input-container class="full-width">
          <input mdInput formControlName="result" id="result" type="text" class="validate" placeholder="Score" />

        </md-input-container>


    <span> I did it from </span>

    <md-input-container class="full-width">
          <input mdInput formControlName="institute" id="institute" type="text" class="validate" placeholder="Institute" />
    </md-input-container>

    <span> which is affiliated to </span>

    <md-input-container class="full-width">
          <input mdInput formControlName="affiliation" id="affiliation" type="text" class="validate" placeholder="Affiliation" />
          
        </md-input-container>

    <span> and is located in </span>

   <md-select formControlName="location" placeholder="Location" class="full-width">
      <md-option *ngFor="let location of locations" color="accent" [value]="location">
                  {{ location }}
      </md-option>
          
        </md-select>

 <div fxLayout="row">
          <div fxFlex></div>
        </div>

      </div>
      <br> 
      <hr>
    </div>
  </div>
  <button md-raised-button type="submit" color="primary"  (click)="addQualifications()">ADD</button>
  <button md-raised-button type="submit" color="primary" [disabled]="!userForm.valid" (click)="onSave()" md-dialog-close>Save</button>


</form>

